# Python
/__pycache__/
*.py[code]
*.pyo
*.pyd
*.$py.class

# Django
*.log
db.sqlite3
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
**/migrations/*
!**/migrations/__init__.py
*.pyc
*.pyc

# Virtual Environment
venv/
env/
.venv/

.env
