{% extends "base.html" %}

{% block title %}
Accounts
{% endblock %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Accounts</h1>
        <p>Manage all your financial accounts.</p>
    </div>
    <div>
        <a href="{% url 'account_create' %}" class="btn-primary">+ New Account</a>
    </div>
</div>

{% if account_data %}
<div class="accound-grid">
    {% for item in account_data %}
    <div class="account-card">
        <h3>{{ item.account.name }}</h3>
        <p><strong>Type:</strong> {{ item.account.get_account_type_display }}</p>
        <p><strong>Currency:</strong> {{ item.account.currency }}</p>
        <p class="balance">
            {{ item.current_balance }}
        </p>
        <div style="margin-top:20px;">
            <a href="{% url 'account_detail' item.account.id %}" class="btn-primary">View</a>
            <a href="{% url 'account_update' item.account.id %}" class="btn-primary"> Edit </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty-state">
    <h2>No accounts yet!</h2>
    <p>Create your first financial account.</p>
    <br>
    <a href="{% url 'account_create' %}" class="btn-primary">Create Account</a>
</div>

{% endif %}
{% endblock %}