{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        MONEYTRACKER
        {% endblock %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "setup/navbar.html" %}

    <div class="app-layout">
        {% if user.is_authenticated %}
            {% include "setup/sidebar.html" %}
        {% endif %}

        <main class="main-content">
            {% include "setup/messages.html" %}

            {% block content %}
            {% endblock %}

        </main>
    </div>

    {% if user.is_authenticated %}
        {% include "setup/footer.html" %}
    {% endif %}

    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>