<aside class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'dashboard' %}"> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'account_list' %}"> Accounts</a>
        </li>
        <li>
            <a href="#">Transactions </a>
        </li>
        <li>
            <a href=""> Categories</a>
        </li>
        <li>
            <a href="#"> Budgets</a>
        </li>
        <li>
            <a href="#"> Savings</a>
        </li>
        <li>
            <a href="#"> Reports</a>
        </li>
        <li>
            <a href="#"> AI Insights</a>
        </li>
        <li>
            <a href="#"> Settings</a>
        </li>
    </ul>
</aside>