<aside class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'dashboard_view' %}"> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'account_list' %}"> Accounts</a>
        </li>
        <li>
            <a href="{% url 'transaction_list' %}">Transactions </a>
        </li>
        <li>
            <a href="{% url 'category_list' %}"> Categories</a>
        </li>
        <li>
            <a href="{% url 'budget_list' %}"> Budgets</a>
        </li>
        <li>
            <a href="#"> Savings</a>
        </li>
        <li>
            <a href="#"> Reports</a>
        </li>
        <li>
            <a href="#"> AI Insights</a>
        </li>
        <li>
            <a href="#"> Settings</a>
        </li>
    </ul>
</aside>