{% extends "base.html" %}

{% block title %}Transactions {% endblock %}

{% block content %}
    <h2>Transactions</h2>
    <br>
    <p>
        <a href="{% url 'transaction_create' %}" class="btn-primary"> + New Transaction</a>
    </p>
    {% if transactions %}
    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Account</th>
                <th>Category</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.reference }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.get_transaction_type_display }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transaction_date }}</td>
                <td>
                    <a href="{% url 'transaction_details' transaction.id %}" class="btn-primary"> View</a>
                    <a href="{% url 'transaction_update' transaction.id %}" class="btn-secondary">Edit</a>
                    <a href="{% url 'transaction_archive' transaction.id %}" class="btn-secondary" style="background:red;">Archive</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <p>No Transaction yet. Create your Transaction.</p>
    {% endif %}

{% endblock %}